.metadata/*



/.metadata/

comment-service/.classpath
comment-service/.factorypath
comment-service/.project
comment-service/.settings/
comment-service/src/test/java/com/in2it/commentandlikeservice/CommentAndLikeServiceApplicationTest.java
comment-service/target/

blog-comment-image/
comment-service/app.log

spike-ticket/.gitignore
spike-ticket/.mvn/
spike-ticket/mvnw
spike-ticket/mvnw.cmd
